agm-map {
    position: absolute;
    z-index: 0;
    margin-top: -50px;
    height: 85%;
    width: 100%;
}

header.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
body {
    background-color: #101717 !important;
    margin: 0;
}