<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5"></h1>
      </div>
    </div>
  </div>
</header>
<section class="text-center" style="position: relative; margin-top: -50px; z-index: 1;">
  <div class="container">
      <div class="card">
        <div class="card-header header-elements-inline">
          <h6 class="card-title">Redescubra a Historia</h6>
          <div class="header-elements">
            <div class="form-check form-check-right form-check-switchery form-check-switchery-sm">
                <input type="text" [(ngModel)]='location.address_level_1' (keyup.enter)='updateOnMap()'
                    placeholder="Pesquise uma localidade (tecle Enter)" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<agm-map #map [latitude]="location.lat" [longitude]="location.lng">
  <!-- agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'" -->
    <agm-marker *ngFor="let pos of positions" [latitude]="pos.lat" [longitude]="pos.lng">
      <agm-info-window #window>
        <h6>Local: {{ pos.label }}</h6>
        <img [src]="pos.imagem" style="width: 80px;" />
      </agm-info-window>
    </agm-marker>
</agm-map>