<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5 sombra">Pronto para navegar na história?</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" [(ngModel)]='itemPesquisa' name="first"
                placeholder="ex: arte, cultura, quadros..." />
            </div>
            <div class="col-12 col-md-3">
              <button [routerLink]="'/mapas'" [queryParams]="itemPesquisa" class="btn btn-block btn-lg btn-primary">
                Navegar!
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<section class="page-section textoInicial" id="about">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-lg-8" style="text-align: center;">
        <br />

        <h2 class="mt-0">MUSEU PEDAGÓGICO VIRTUAL</h2>
        <hr class="divider light my-4">
        <p class="mb-4 " style="text-align: justify;text-justify: inter-word;">

          O Museu Pedagógico Virtual Brasileiro (MPVB) é uma plataforma colaborativa e pretende reunir iconografia,
          videografia, filmografia e textos sobre a educação brasileira, fundamentalmente dando destaque as ESCOLAS.
          Acreditamos que hoje mais do que nunca precisamos afirmar e defender a escola pública e criar este espaço de
          memória virtual significa apostar na importância de criar um acervo de memórias para nutrir a imaginação desta
          escola sempre em devir, em processo de reinvenção.
          <br /> <br />

          Destacamos também que a página pretende criar um espaço de encontro para os Museus pedagógicos, da educação,
          escolares, da infância, do brinquedo assim como dar um espaço especial a ARTE-EDUCAÇÃO e as Escolinhas de Arte
          do Brasil que vivem uma forte ameaça de desaparecimento.
          <br /> <br />


          O Museu nasce de um minicurso do GT24 de Arte-Educação de ANPED e pretende se manter aberto em franco processo
          de interatividade e crescimento na produção colaborativa de memória e conhecimento
          <br /> <br />


          Composto por imagens solicitadas aos participantes de ANPED de diferentes estados, visamos organiza-las e
          disponibiliza-las para qualquer pessoa interessada em atividades de pesquisa, ensino ou extensão.
          <br /> <br />


          Esperamos em breve poder organizar e disponibilizar na Internet páginas da história da educação brasileiras,
          com FOTOGRAFIAS, DESENHOS e REGISTROS AUDIOVISUAIS de escolas, uniformes, utilitários escolares, mobiliários,
          cadernos, fichas, livros, depoimentos, documentos, sujeitos, espaços e tempos que serão transformados em
          material iconográfico e filmes com o propósito de construir a memória escolar da educação pública brasileira
          enquanto patrimônio educacional e cultural nacional.

        </p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/pedro22.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/pedro22.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/pedro22.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/pedro22.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/pedro22.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/pedro22.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action Section -->
<section class="page-section bg-site">
  <div class="container text-center">
    <br />
    <h2 class="mb-4">Crie sua conta e participe da história!</h2>
    <button [routerLink]="'/mapas'" class="btn btn-primary">
      Participar!
    </button>
  </div>
</section>